TXT data is parsed incorrectly

https://github.com/miekg/dns/blob/46df8c9462fa287d54225d6bdebbcfd41da434f7/parse_test.go#L429 requires that `t.example.com. 3600 IN TXT aaa aaa` is considered equivalent to `t.example.com.	3600	IN	TXT	"aaa aaa"`, but that does not match real-world nameserver behavior, which expects `t.example.com. IN TXT "aaa" "aaa"` per RFC 1035:

[Section 3.3.14 TXT RDATA format](https://tools.ietf.org/html/rfc1035#section-3.3.14):
> TXT-DATA        One or more \<character-string>s.

[Section 5.1 Master File Format](https://tools.ietf.org/html/rfc1035#section-5.1) (emphasis mine):
> \<character-string> is expressed in one or two ways: as **a contiguous set of characters without interior spaces**, or as a string beginning with a " and ending with a ".  Inside a " delimited string any character can occur, except for a " itself, which must be quoted using \ (back slash).

IMO when people manually write TXT records without quotes, they don't expect anything but keeping spaces internal to the whole text and not a "shellwords" quoting.   With that said I doubt many people who don't use quotes will be affected when their canonical representation uses either "... ..." or "..." "..." form.


> vIMO when people manually write TXT records without quotes, they don't expect anything but keeping spaces internal to the whole text and not a "shell" "words" quoting.

Sometimes I **forget** to escape a TXT record properly, but I **expect** a DNS parser to parse according to the standard. Going against the standard and guessing what the user may have meant instead would be very unexpected behavior.

> With that said I doubt many people who don't use quotes will be affected when their canonical representation uses either "... ..." or "..." "..." form.

They will be pretty affected when the "..." "..." form is concatenated without spaces and the contents end up malformed. E.g. https://tools.ietf.org/html/rfc7208#section-3.3:

    3.3.  Multiple Strings in a Single DNS Record

       As defined in [RFC1035], Sections 3.3 and 3.3.14, a single text DNS
       record can be composed of more than one string.  If a published
       record contains multiple character-strings, then the record MUST be
       treated as if those strings are concatenated together without adding
       spaces.  For example:

          IN TXT "v=spf1 .... first" "second string..."

       is equivalent to:

          IN TXT "v=spf1 .... firstsecond string..."

       TXT records containing multiple strings are useful in constructing
       records that would exceed the 255-octet maximum length of a
       character-string within a single TXT record.


But let's face it... choices that's possible for SPF record:
a) someone used quotes in first place, they not affected
b) someone did not use quotes, lib's behavior actually does not ruin their SPF as say nsupdate would


There are many cases where syntactically correct input can differ semantically from (probable) user intent:
* the target of `www.example.com. 60 IN CNAME example.net` is relative (e.g., `example.net.example.com.`) rather than the absolute `example.net.`¹
* the RDATA character in `example.com 3600 IN TXT "\n"` is "`n`", not a line feed²
* the RDATA string in `example.com 3600 IN TXT foo;bar` consists of three characters, not seven³
* etc.

Regardless, it is not the proper job of a formal parser to interpret what _might_ have been meant, only to produce structured data corresponding to its input. And in this case, the rules are clearly not being followed correctly.

----

¹
> Domain names which do not end in a dot are called relative; the actual domain name is the concatenation of the relative part with an origin specified in a $ORIGIN, $INCLUDE, or as an argument to the master file loading routine

²
> \X              where X is any character other than a digit (0-9), is used to quote that character so that its special meaning does not apply.

³
> Semicolon is used to start a comment; the remainder of the line is ignored.

[ Quoting <notifications@github.com> in "Re: [miekg/dns] TXT data is parsed ..." ]
>There are many cases where syntactically correct input can differ semantically from (probable) user intent:
>* the target of `www.example.com. 60 IN CNAME example.net` is relative (e.g., `example.net.example.com.`) rather than the absolute `example.net.`¹
>* the RDATA character in `example.com 3600 IN TXT "\n"` is "`n`", not a line feed²
>* the RDATA string in `example.com 3600 IN TXT foo;bar` consists of three characters, not seven³
>* etc.
>
>Regardless, it is not the proper job of a formal parser to interpret what _might_ have been meant, only to produce structured data corresponding to its input. And in this case, the rules are clearly not being followed correctly.

Feel free to send a PR that fixes this corner case.

Thanks!
