Edns0 validity

quoting RFC6891, Section 6.1.1

> When an OPT RR is included within any DNS message, it MUST be the
   only OPT RR in that message.  If a query message with more than one
   OPT RR is received, a FORMERR (RCODE=1) MUST be returned.

using `Msg.IsEdns0()` there is no way to know if this was the only OPT record in order to return `FORMERR` otherwise.

one idea is to add a method to `Msg` like

```go
func (dns *Msg) IsValidEdns0() (*OPT, bool) {
	...
}
```

where they can be 3 return cases

1. nil, true -> no OPT record exists
2. nil, false -> more than one OPT record exists
3. OPT, true -> only one OPT record exists

in any case, if I really want to be compliant I can just validate the additional section after `IsEdns0` has returned a record.

thoughts?

We can't change `IsEdns0()` now and it's probably also not it's job to check validity.

Better is I think to add (to your) MsgAcceptFunction https://github.com/miekg/dns/blob/4bd038eb7616bf9225289bdfb58f4de1e6f55751/acceptfunc.go#L29