LOC record - HorizPre and VertPre default values are incorrectly encoded

```
func (rr *LOC) parse(c *zlexer, o, f string) *ParseError {
	// Non zero defaults for LOC record, see RFC 1876, Section 3.
	rr.HorizPre = 165 // 10000
	rr.VertPre = 162  // 10
	rr.Size = 18      // 1
	ok := false
```

According to RFC-1876 those fields should be:
```
a pair of four-bit unsigned
integers, each ranging from zero to nine, with the most
 significant four bits representing the base and the second
number representing the power of ten by which to multiply
the base.  This allows sizes from 0e0 (<1cm) to 9e9
(90,000km) to be expressed
```
Those values should probably be:
HorizPre = 1000000 = 1*10^6 = 0x16
VertPre = 1000 = 1*10^3 = 0x13


This was closed by #1084.