Properly interpret relative names in master files

This library has a nasty habit of interpreting domain names relative to the DNS root when it shouldn't. Per [RFC 1035](https://tools.ietf.org/html/rfc1035#section-5.1), "A relative name is an error when no origin is available" and we should emit an error token from `ParseZone` when encountering such a case.

This bug was originally reported with a mistaken assumption of initial origin, which uncovered the above issue:
<details><summary>Original report</summary>
A fix will probably be big, but we're doing the wrong thing right now:
<details><summary><strong>input</strong></summary>

```
example.com. 3600 IN SOA ns1.example.com. hostmaster 1 (
	86400
	   60
	86400
	 3600
) ; SOA with relative RNAME

	NS ns1 ; implied-owner NS with implied TTL/CLASS and relative-domain RDATA

ns1 60 A 192.0.2.1 ; relative owner with implied CLASS

$ORIGIN api ; relative origin

@ IN A 192.0.2.2 ; origin-shorthand owner with implied TTL

apac 30 CNAME @ ; relative owner with implied CLASS and origin-shorthand RDATA

$ORIGIN NA ; relative origin relative to existing origin

@ 30 IN CNAME cdn.example ; origin-shorthand owner with relative RDATA
cdn.example.NA.api.example.com. 60 IN A 192.0.2.3
```
</details>

<details><summary><strong><code>ParseZone</code> output</strong></summary>

```
; SOA with relative RNAME
; mismatch, expected:
; example.com.	3600	IN	SOA	ns1.example.com. hostmaster.example.com. 1 86400 60 86400 3600
example.com.	3600	IN	SOA	ns1.example.com. hostmaster. 1 86400 60 86400 3600

; implied-owner NS with implied TTL/CLASS and relative-domain RDATA
; mismatch, expected:
; example.com.	3600	IN	NS	ns1.example.com.
example.com.	3600	IN	NS	ns1.

; relative owner with implied CLASS
; mismatch, expected:
; ns1.example.com.	60	IN	A	192.0.2.1
ns1.	60	IN	A	192.0.2.1

; origin-shorthand owner with implied TTL
; mismatch, expected:
; api.example.com.	60	IN	A	192.0.2.2
api.	3600	IN	A	192.0.2.2

; relative owner with implied CLASS and origin-shorthand RDATA
; mismatch, expected:
; apac.api.example.com.	30	IN	CNAME	api.example.com.
apac.api.	30	IN	CNAME	api.

; origin-shorthand owner with relative RDATA
; mismatch, expected:
; NA.api.example.com.	30	IN	CNAME	cdn.example.NA.api.example.com.
NA.api.	30	IN	CNAME	cdn.example.NA.api.

; match
cdn.example.NA.api.example.com.	60	IN	A	192.0.2.3
```
</details>

<details open><summary><strong>diff</strong></summary>

```diff
--- actual
+++ expected
 ; SOA with relative RNAME
-example.com.	3600	IN	SOA	ns1.example.com. hostmaster. 1 86400 60 86400 3600
+example.com.	3600	IN	SOA	ns1.example.com. hostmaster.example.com. 1 86400 60 86400 3600
 
 ; implied-owner NS with implied TTL/CLASS and relative-domain RDATA
-example.com.	3600	IN	NS	ns1.
+example.com.	3600	IN	NS	ns1.example.com.
 
 ; relative owner with implied CLASS
-ns1.	60	IN	A	192.0.2.1
+ns1.example.com.	60	IN	A	192.0.2.1
 
 ; origin-shorthand owner with implied TTL
-api.	3600	IN	A	192.0.2.2
+api.example.com.	60	IN	A	192.0.2.2
 
 ; relative owner with implied CLASS and origin-shorthand RDATA
-apac.api.	30	IN	CNAME	api.
+apac.api.example.com.	30	IN	CNAME	api.example.com.
 
 ; origin-shorthand owner with relative RDATA
-NA.api.	30	IN	CNAME	cdn.example.NA.api.
+NA.api.example.com.	30	IN	CNAME	cdn.example.NA.api.example.com.
 cdn.example.NA.api.example.com.	60	IN	A	192.0.2.3
```
</details>
</details>

Updating`origin` before a SOA data is parsed in this [clause](https://github.com/miekg/dns/blob/6ebcb714d36901126ee2807031543b38c56de963/scan.go#L467) might be what's needed. Try adding the following before `setRR` is called:

```
if h.Rrtype == TypeSOA {
    origin = h.Name
}
```

That may be necessary, but it's not sufficient. @miekg What would you say to introducing a `RelativeOrigin` member on the `RR` and `Name` types, defaulting to the DNS root?

> That may be necessary, but it's not sufficient.

Oh I missed TTLs when I skimmed this yesterday. I'd guess it wouldn't take too much to fix that.

> @miekg What would you say to introducing a RelativeOrigin member on the RR and Name types, defaulting to the DNS root?

I don't follow you here. `RR` is an interface and `Name` is a `string` wrapper. `Name` I don't think is used by anything. Can you be more specific about what you would like to add and why?

I'm proposing to extend their public interfaces:
```go
type RR interface {
    // RelativeOrigin returns the name from which relative domains in the header or rdata
    // of a resource record are interpreted.
    RelativeOrigin() Name
    // Header returns the header of an resource record. The header contains
    // everything up to the rdata.
    Header() *RR_Header
    // String returns the text representation of the resource record, with all domain names absolute.
    String() string
}
```
and if possible, also
```go
type Name interface {
    // RelativeOrigin returns the name from which relative domain names are interpreted.
    RelativeOrigin() Name
    // String returns the absolute presentation of the domain name.
    String() string
}
```

`Name` currently isn't an interface, so you're proposing to replace the current (unused afaik) new-type with an interface? What is going to implement this interface?

Going by your [previous comment](https://github.com/miekg/dns/issues/484#issuecomment-296267857), `RelativeOrigin() Name` is going to return a name relative to root for implementations in this package? What does that enable you to do and what concrete type will be returned?

More generally, what are these changes intended to accomplish? What problem will they help you solve, and why must that problem be solved in this package?

Interestingly this bug never hit me... We add origin to fully qualified names? Can you distill you first comment into a test and send a PR for that? I think that would narrow down the discussion somewhat.

As @andrewtj hints, we should be very conservative in extending the API.

> What problem will they help you solve, and why must that problem be solved in this package?

As you can see in the issue description itself, this library mishandles relative names both inside and outside of rdata, frequently interpreting them relative to the DNS root rather than the appropriate origin.

> we should be very conservative in extending the API

An alternative is expanding names to absolute form right away, masking their relative specification. In other words, `example.com. 3600 IN NS ns1` can be represented in one of two forms:
```go
// Option 1: relative-preserving
// w.l.o.g., storing relative origin in RR_Header
// and defining Name like struct{string, *Name}
{
	Hdr: RR_Header{
		⋮
		Rdlength: 17,
		RelativeOrigin: &Name{"example.com.", nil},
	},
	Ns: "ns1",
}

// Option 2: immediately expanded
// literal input data lost
{
	Hdr: RR_Header{
		⋮
		Rdlength: 17,
	},
	Ns: "ns1.example.com.",
}
```

> Can you distill you first comment into a test and send a PR for that?

Sure, but I first want to settle on Option 1 vs. Option 2. I suppose, given that `@` is already expanded in the struct data, Option 2 is more consistent with preexisting behavior and therefore makes more sense than introducing relative origin. Would you agree?

Without you having answered what the rational for offering "Option 2" is, I can only guess that there is no particular reason, or that you'd like to be able to preserve the input verbatim to later present back to a user in some way.

If it is the later, there's a number of other transformations that can occur that might make that effort moot (eg: `\101\120. ( 1h32m CLASS1 TYPE12 am. )`).

Either way it's difficult to imagine a breaking-change that would be more disruptive than changing the fundamental Name type and what you have offered so far does not justify such a change.

`\101\120. ( 1h32m CLASS1 TYPE12 am. )` is invalid because "1h32m" is not an acceptable TTL, but backslash sequences are _already_ preserved in struct data, and RFC 3597 representations of CLASS or TYPE are moot because they are literally identical to mnemonic forms. The interpretation of relative names, however, is **different** based on what precedes them, so e.g. reordering records or changing $ORIGIN directives has an impact if we have preserved the relative origin but does not if we've discarded it.

However, the gist of your point stands, and as I mentioned above, `@` is already expanded so there's a good case for doing the same with relative names.

> \101\120. ( 1h32m CLASS1 TYPE12 am. ) is invalid because "1h32m" is not an acceptable TTL,

This library supports named TTL values.

> but backslash sequences are already preserved in struct data,

`\101\120.` is parsed as `ex.` which is the appropriate behaviour.

> and RFC 3597 representations of CLASS or TYPE are moot because they are literally identical to mnemonic forms.

Yes, that's the point I was illustrating: multiple strings can represent the same value and so parsing is already lossy.

> The interpretation of relative names, however, is different based on what precedes them, so e.g. reordering records or changing $ORIGIN directives has an impact if we have preserved the relative origin but does not if we've discarded it.

Sorry but I'm not clear on what you're trying to communicate here. If you think I've been saying the current behaviour is correct you are mistaken.

> However, the gist of your point stands, and as I mentioned above, @ is already expanded so there's a good case for doing the same with relative names.

So reading between the lines, there is no need for "Option 2". 

Hah, just realised I had your "Option 1" and "Option 2" backwards.

Sorry, I don't see the problem in the first place... :(
~~~
example.com. 3600 IN SOA ns1.example.com. hostmaster 1 (
	86400
	   60
	86400
	 3600
) ; SOA with relative RNAME
~~~
You don't set any $ORIGIN, so all bets are off (think we default to `.` in that case):
```
-example.com.	3600	IN	SOA	ns1.example.com. hostmaster. 1 86400 60 86400 3600
```
Seems like a very reasonable result then.

If the question becomes: should be extra the origin from the SOA... Then maybe. Also the SOA record should not have to be the first in the zone.

Huh, I'd thought of a SOA RR as a euphemism for $ORIGIN, but now that you mention it, that is actually a bit of a leap to take. I think I'm gonna flip-flop on that.

The other issue @gibson042 mentioned is that the last explicit TTL should be used when no default TTL has been set with a TTL directive. That is:

```
foo 10 IN TXT a
foo IN TXT b ; should inherit a TTL of 10
```

Looking at the docs though, this is an intentional deviation, right?

Re: TTL, yes that looks like a bug. Thought there is should/be code that actually deals with that usecase

#485 show the TTL problem. Has been a loooong time since I looked the scanning code though.

@andrewtj where did I wrote that was intentional? (could very well be....)

@miekg I thought it might have been intentional because `NewRR()` is documented to default to a TTL of 3600 but it doesn't do anything to make that happen. (`NewRR()` calls `ReadRR()` which then goes to `parseZoneHelper()`.)

```
	rr, _ := NewRR("example.org. IN A 192.0.2.2")
	println(rr.String())
```
prints: `example.org.	3600	IN	A	192.0.2.2`


> > \101\120. ( 1h32m CLASS1 TYPE12 am. ) is invalid because "1h32m" is not an acceptable TTL,

> This library supports named TTL values.

It should _not_ do so in `ParseZone`, which [as documented](https://godoc.org/github.com/miekg/dns#ParseZone) "reads a RFC 1035 style zonefile" and is therefore covered by the "TTL is a decimal integer" text in [section 5.1](https://tools.ietf.org/html/rfc1035#section-5.1).

> > but backslash sequences are already preserved in struct data,

> `\101\120.` is parsed as `ex.` which is the appropriate behaviour.

You misunderstand me; input backslashes are _preserved_ in the literal contents of (for example) the `Name` member of the `RR_Header` struct.

> You don't set any $ORIGIN, so all bets are off (think we default to `.` in that case):

That truly was my mistake; I provided an empty `origin` to `ParseZone` where I should have provided `"example.com."`—and as it turns out, correcting that fixed every mismatch except the TTL inference. So the _real_ issue here is failure to generate the error required by [RFC 1035](https://tools.ietf.org/html/rfc1035#section-5.1) ("A relative name is an
error when no origin is available"), and then #485 covers the separate one for TTLs.

Never knew that TTL stuff was a BIND-ism, anyway is it there now, no need to rip that out.

Re: errorring. Erroring is not my preference when $ORIGIN is not set and defaulting to `.` is the only sane default. Could we get by, by just updating the documentation?

> Never knew that TTL stuff was a BIND-ism, anyway is it there now, no need to rip that out.

When it comes to external standards, I'm of the opinion that accepting invalid input is just as bad as rejecting valid input. Among other reasons, it means that this library can't be used for input validation and requires clients to implement preprocessors.

> Erroring is not my preference when $ORIGIN is not set and defaulting to `.` is the only sane default. Could we get by, by just updating the documentation?

Yes, but this issue is proof that such behavior is problematic. Defaulting to `.` gives results that are _very_ wrong when fed the contents of a zone file for which a nameserver would know the initial origin, and does so without any indication that there is a problem.

> When it comes to external standards, I'm of the opinion that accepting invalid input is just as bad as rejecting valid input. Among other reasons, it means that this library can't be used for input validation and requires clients to implement preprocessors.

Fair enough. But I would consider it defacto standard, or are they nameservers impl. that reject this input? Side stepping that: we can't make such a backwards incompatible change (yes we once in a while break backward compat, but we should (and do) take that very seriously). And unfortunate I didn't write this code to be (easily) extended

> Yes, but this issue is proof that such behavior is problematic. Defaulting to . gives results that are very wrong when fed the contents of a zone file for which a nameserver would know the initial origin, and does so without any indication that there is a problem.

Ok, what does BIND do? (or other impl). Extract from SOA (iff that's the first record?). Or do they error?

> But I would consider it defacto standard, or are they nameservers impl. that reject this input?

There probably is as ISC's own `nsupdate` client does, however it also doesn't support parenthesis, some old/new types that this package does, and is stricter on the input it'll accept for some types than this package is (as I think BIND is as well). 

Further, most nameservers do not support as many types as this package does, and there's at least one name server that does not support parenthesis or comments in one of it's backends.

My two cents is that for a library to be great for use in a validator, it'd need a way to learn the offset of an error, and flags for the above mentioned. By that metric this library isn't great, but I think that's okay as parsing correctly and then emitting conservative content as this library does is probably the 80% case.

> Ok, what does BIND do? (or other impl). Extract from SOA (iff that's the first record?). Or do they error?

BIND's configuration requires `zone zone_name [class] { type master; file zone_file;  ... }` so there's always an origin set. I'm not aware of an implementation where the origin isn't known.

> Fair enough. But I would consider it defacto standard, or are they nameservers impl. that reject this input? Side stepping that: we can't make such a backwards incompatible change (yes we once in a while break backward compat, but we should (and do) take that very seriously). And unfortunate I didn't write this code to be (easily) extended

OK, that's also a fair position. The unitful TTL syntax is accepted by at least BIND, NSD, and Knot, and even many of the edge cases (e.g., `42s18s` or `1M1h`) align. I've been meaning to introduce a formal master file grammar anyway, and might as well push for its inclusion.

> Ok, what does BIND do? (or other impl). Extract from SOA (iff that's the first record?). Or do they error?

Well, it doesn't really matter for true nameservers because they _know_ the zone they're loading. All three I tested behave similarly, though I only found official documentation for [BIND](https://ftp.isc.org/isc/bind9/cur/9.10/doc/arm/Bv9ARM.pdf#page=160):
> When a zone is first read in there is an implicit `$ORIGIN <zone_name>.`

Our current behavior is unrealistic, confusing, and a source of potential bugs. Anyone who actually wants an initial origin of `.` should specify it explicitly, and relative names encountered _without_ a known origin should generate errors, at least in `ParseZone` per the RFC (though something like `func NewRRWithOrigin(s, origin string) (RR, error)` etc. might also be a good idea).

the TTL stuff is not true: RFC 2308 defines $TTL which should be used when no TTL is specifed. Using the previous TTL value is *not* what should happen. The test case #485 is failing because it is not correct.

The TTL quibble concerns when no `$TTL` directive is in effect. In that case RFC 1035 says: "Omitted class and TTL values are default to the last explicitly stated values."

At the moment the parser behaves as though there were a `$TTL 3600` prepended to it's input. Only `NewRR` is documented to do that though.

[ Quoting <notifications@github.com> in "Re: [miekg/dns] Properly interpret ..." ]
>The TTL quibble concerns when no `$TTL` directive is in effect. In that case RFC 1035 says: "Omitted class and TTL values are default to the last explicitly stated values."

I'm not following... 2308 *updates* 1035, so there is no 1035 language relevant 
about this.

>At the moment the parser behaves as though there were a `$TTL 3600` prepended to it's input. Only `NewRR` is documented to do that though.

Ah..... True. Let's document that then :)

/Miek

--
Miek Gieben


> I'm not following... 2308 *updates* 1035, so there is no 1035 language relevant
about this.

Huh? RFC 2308 is only additive as far as I can see, so why is RFC 1035 no longer relevant?

https://tools.ietf.org/html/rfc2308#section-4 (emphasis mine):
> The Master File format [RFC 1035 Section 5] is _extended_ to include the following directive:
> 
>                            $TTL <TTL> [comment]
> 
> All resource records appearing **after the directive**, and which do not explicitly include a TTL value, have their TTL set to the TTL given in the $TTL directive.

So in the absence of an explicit `$TTL` directive, RFC 1035 holds and omitted CLASS and TTL values MUST use "the last explicitly stated values".

[ Quoting <notifications@github.com> in "Re: [miekg/dns] Properly interpret ..." ]
>https://tools.ietf.org/html/rfc2308#section-4 (emphasis mine):
>> The Master File format [RFC 1035 Section 5] is _extended_ to include the following directive:
>>
>>                            $TTL <TTL> [comment]
>>
>> All resource records appearing **after the directive**, and which do not explicitly include a TTL value, have their TTL set to the TTL given in the $TTL directive.
>
>So in the absence of an explicit `$TTL` directive, RFC 1035 holds and omitted CLASS and TTL values MUST use "the last explicitly stated values".

A non code fix would be a extend the docs that we act as if
`$TTL 3600` was the first line in the zone file.

I'm open to a PR that cleanly implements this, but I'm not going to work on it 
myself.


@gibson042 do you intend to work on this?