SetDefaultTTL not setting default TTL after previous RR has one

As seen [in the playground](https://play.golang.org/p/ekf0cTKXBe4) from the following code:

```go
package main

import (
	"fmt"
	"strings"

	"github.com/miekg/dns"
)

func main() {
	zone := `
example.com.             120  IN     A        1.2.3.6
ns                            IN     A        2.3.4.1
`
	p := dns.NewZoneParser(strings.NewReader(zone), "example.com.", "")
	p.SetDefaultTTL(3600)
	rr, _ := p.Next()
	fmt.Printf("RR 1: %v\n", rr)
	rr, _ = p.Next()
	fmt.Printf("RR 2: %v\n", rr)
}
```

The result is:

    RR 1: example.com.	120	IN	A	1.2.3.6
    RR 2: ns.example.com.	120	IN	A	2.3.4.1

But I would expect the last one to have a TTL of 3600. Even if there's not a way to fix this without fear of those relying on this behavior, can you think of any way around it to apply a default TTL after parsing to RRs where it wasn't explicitly specified?

This is exactly how DNS RRs should be parsed. So this is WAI I believe

On Thu, 25 Jul 2019, 18:54 Chad Retz, <notifications@github.com> wrote:

> As seen in the playground <https://play.golang.org/p/ekf0cTKXBe4> from
> the following code:
>
> package main
> import (
> 	"fmt"
> 	"strings"
>
> 	"github.com/miekg/dns"
> )
> func main() {
> 	zone := `example.com.             120  IN     A        1.2.3.6ns                            IN     A        2.3.4.1`
> 	p := dns.NewZoneParser(strings.NewReader(zone), "example.com.", "")
> 	p.SetDefaultTTL(3600)
> 	rr, _ := p.Next()
> 	fmt.Printf("RR 1: %v\n", rr)
> 	rr, _ = p.Next()
> 	fmt.Printf("RR 2: %v\n", rr)
> }
>
> The result is:
>
> RR 1: example.com.	120	IN	A	1.2.3.6
> RR 2: ns.example.com.	120	IN	A	2.3.4.1
>
> But I would expect the last one to have a TTL of 3600. Even if there's not
> a way to fix this without fear of those relying on this behavior, can you
> think of any way around it to apply a default TTL after parsing to RRs
> where it wasn't explicitly specified?
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/miekg/dns/issues/1000?email_source=notifications&email_token=AACWIW6C2LNVX4MIARRIGMDQBHSDRA5CNFSM4IG5A26KYY3PNVWWK3TUL52HS4DFUVEXG43VMWVGG33NNVSW45C7NFSM4HBRKKTA>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AACWIWYTPTWEWHZILBV7RYDQBHSDRANCNFSM4IG5A26A>
> .
>


Ah, ok I confirmed it's NSD that deviates from the RFC. From RFC 1035 section 5.1 you are correct:

> Omitted class and TTL values are default to the last explicitly stated values.

Others like my self might be confused by NSD or assumed, as I did incorrectly, that `SetDefaultTTL` was the equivalent of `$TTL`. Sorry to bother.