server does not call registered handlerFunc for RFC2136 updates and responds with NOTIMP

a dns.Server created does not call the handleRequest function for dns update queries and instead flat out answers with NOTIMP.
tested with nsupdate and this package on the client side.
propably it's a fault on my side because I am a big DNS noob. am I missing something here?

dumped dns query from nsupdate:

```
;; ->>HEADER<<- opcode: UPDATE, status: NOERROR, id:      0
;; flags:; ZONE: 0, PREREQ: 0, UPDATE: 0, ADDITIONAL: 0
;; ZONE SECTION:
;.				IN	SOA

;; UPDATE SECTION:
foo.			3600	IN	A	1.1.1.1
```

dumped dns answer:

```
;; ->>HEADER<<- opcode: UPDATE, status: NOTIMP, id:  50894
;; flags: qr; ZONE: 0, PREREQ: 0, UPDATE: 0, ADDITIONAL: 0
```
---

code for stub server:

```golang
package main

import (
	"log"
	"os"
	"os/signal"
	"syscall"

	"github.com/miekg/dns"
)

func handleRequest(w dns.ResponseWriter, r *dns.Msg) {
	log.Printf("handle %+v", r)

	m := new(dns.Msg)
	m.SetReply(r)
	w.WriteMsg(m)
}

func main() {
	dns.HandleFunc("example.com.", handleRequest)

	serverUDP := &dns.Server{Addr: ":1153", Net: "udp"}
	serverTCP := &dns.Server{Addr: ":1153", Net: "tcp"}

	go serverUDP.ListenAndServe()
	go serverTCP.ListenAndServe()

	sig := make(chan os.Signal)
	signal.Notify(sig, syscall.SIGINT, syscall.SIGTERM)
endless:
	for {
		select {
		case s := <-sig:
			log.Printf("Signal (%d) received, stopping\n", s)
			break endless
		}
	}
}
```

code for stub client:

```golang
package main

import (
	"log"
	"net"

	"github.com/miekg/dns"
)

func main() {
	client := dns.Client{
		SingleInflight: true,
	}

	update := dns.Msg{}
	update.SetUpdate("example.com.")

	update.Insert([]dns.RR{&dns.A{
		Hdr: dns.RR_Header{
			Name:   "foo.example.com.",
			Rrtype: dns.TypeA,
			Class:  dns.ClassINET,
			Ttl:    300,
		},
		A: net.ParseIP("127.0.0.1"),
	}})

	r, rrt, err := client.Exchange(&update, "127.0.0.1:1153")

	log.Printf("r: %+v\nrrt: %+v\nerr: %+v", r, rrt, err)
}

```

I believe you need to set `MsgAcceptFunc` on both servers as `DefaultMsgAcceptFunc` is rejecting your request.

You should replicate as much of `DefaultMsgAcceptFunc` as makes sense to your application to reduce the likelihood you’ll create a misbehaving server that could be involved in DDOS attacks.

I’ll close this, but feel free to reopen if you’re still having a problem.

it worked. thank you very much!

i took `DefaultMsgAcceptFun` and modified it, as you suggested.

quick hacky proof for other readers - beware! this MsgAcceptFunc is not safe for production use:
```
package main

import (
	"log"
	"os"
	"os/signal"
	"syscall"

	"github.com/miekg/dns"
)

const (
	_QR = 1 << 15 // query/response (response=1)
)

func msgAcceptFunc(dh dns.Header) dns.MsgAcceptAction {
	log.Println("msgAcceptFunc")

	if isResponse := dh.Bits&_QR != 0; isResponse {
		return dns.MsgIgnore
	}

	opcode := int(dh.Bits>>11) & 0xF

	log.Printf("opcode: %+v", opcode)

	// hack in dynamic updates
	if opcode == dns.OpcodeUpdate {
		return dns.MsgAccept
	}

	// Don't allow dynamic updates, because then the sections can contain a whole bunch of RRs.
	if opcode != dns.OpcodeQuery && opcode != dns.OpcodeNotify {
		return dns.MsgRejectNotImplemented
	}

	if dh.Qdcount != 1 {
		return dns.MsgReject
	}
	// NOTIFY requests can have a SOA in the ANSWER section. See RFC 1996 Section 3.7 and 3.11.
	if dh.Ancount > 1 {
		return dns.MsgReject
	}
	// IXFR request could have one SOA RR in the NS section. See RFC 1995, section 3.
	if dh.Nscount > 1 {
		return dns.MsgReject
	}
	if dh.Arcount > 2 {
		return dns.MsgReject
	}
	return dns.MsgAccept
}

func handleRequest(w dns.ResponseWriter, r *dns.Msg) {
	log.Printf("handle %+v", r)

	m := new(dns.Msg)
	m.SetReply(r)
	w.WriteMsg(m)
}

func main() {
	dns.HandleFunc("example.com.", handleRequest)

	serverUDP := &dns.Server{Addr: ":1153", Net: "udp", MsgAcceptFunc: msgAcceptFunc}
	serverTCP := &dns.Server{Addr: ":1153", Net: "tcp", MsgAcceptFunc: msgAcceptFunc}

	go serverUDP.ListenAndServe()
	go serverTCP.ListenAndServe()

	sig := make(chan os.Signal)
	signal.Notify(sig, syscall.SIGINT, syscall.SIGTERM)
endless:
	for {
		select {
		case s := <-sig:
			log.Printf("Signal (%d) received, stopping\n", s)
			break endless
		}
	}
}
```