GSS-TSIG support

Would it be possible to add support for GSS-TSIG (RFC 3645)? This would make it possible to perform secure DNS updates to a Windows Active Directory environment, which AFAICT doesn't support normal TSIG updates. I figured maybe https://github.com/jcmturner/gokrb5 could be useful to do the Kerberos side of things.

Wow, I was actually just looking for this as well. https://technet.microsoft.com/en-us/library/cc961412.aspx?f=255&MSPPError=-2147217396 describes their security model a bit more. It kinda looks like greek to me though.

Yep, I looked at that page too :smiley:

I've managed to work out the steps needed to do this manually using a combination of `ktutil`, `kinit`, and `nsupdate -g` from a Linux host such that records will get added/updated/deleted in DNS, but I'm at a loss where to start with any code changes to achieve the same thing.

https://tools.ietf.org/html/rfc3645 has the dns queries for the handshake spelled out, but I am kinda stuck on the GSS_Init_sec_context part of generating the initial token or whatever. There's some go bindings to a c api that I can't figure out how to install, and there is that native go package that I can't quite figure out the gssapi interface for.

I'm guessing the bit section under "Generic Kerberos Client" on https://github.com/jcmturner/gokrb5 might be relevant. Especially given the final note:

> Now send the AP_REQ to the serivce. How this is done will be specific to the application use case.

Maybe that's the bit that gets sent as the TSIG in some form or another? (Complete guess)

Apart from some TSIG and TKEY constants that aren't defined, what else would be needed from this package?

A good point. I wonder if this wouldn't be a better fit for the kerberos library to implement on that end. Maybe a `dns` package with a simple `ExchangeWithGssTsig(msg)` type function.

[ Quoting <notifications@github.com> in "Re: [miekg/dns] GSS-TSIG support (#..." ]
>A good point. I wonder if this wouldn't be a better fit for the kerberos library to implement on that end. Maybe a `dns` package with a simple `ExchangeWithGssTsig(msg)` type function.

That's not even needed, you need to construct a dns.Msg with such a TSIG at the 
end and the unpack/pack will take care of it.


I have been recently looking at a few issues with TSIG and TKEY but they might be best tracked under separate issues.   I used this library to implement a man-in-the-middle DNS proxy.

One issue I have is that I captured a TKEY request from a Windows server during secure updates on the wire with wireshark.  If I take the raw byte stream for the TKEY answer and do a Unpack() and Pack() the package is constantly adding an extra byte to the record.  I believe this is because it's always representing the OtherData field with a single 0x0 byte even when the OtherLen is 0.  I haven't yet figured out how to fix this.

The other issue I've run into is that trying to use this library as a MITM agent, it's hard to get it to skip the TSIG verification.  I need to try and find a clean way to make it skip the TSIG verfication/generation when reading/writing messages.

> One issue I have is that I captured a TKEY request from a Windows server during secure updates on the wire with wireshark. If I take the raw byte stream for the TKEY answer and do a Unpack() and Pack() the package is constantly adding an extra byte to the record. I believe this is because it's always representing the OtherData field with a single 0x0 byte even when the OtherLen is 0. I haven't yet figured out how to fix this.

That smells (indeed) like a bug.

> The other issue I've run into is that trying to use this library as a MITM agent, it's hard to get it to skip the TSIG verification. I need to try and find a clean way to make it skip the TSIG verfication/generation when reading/writing messages.

While reading messages I had the same thought, might require an option or reviewing the current code. An out-of-tree TSIG validation was never considered when this was added.

> One issue I have is that I captured a TKEY request from a Windows server during secure updates on the wire with wireshark. If I take the raw byte stream for the TKEY answer and do a Unpack() and Pack() the package is constantly adding an extra byte to the record. I believe this is because it's always representing the OtherData field with a single 0x0 byte even when the OtherLen is 0. I haven't yet figured out how to fix this.

In looking at this some more, it may be in my private fork where I attempted to add more support for the TKEY RR.   Will look at this some more or start a branch/pull-request for it.

So with #567 merged, I've written some code that performs the GSSAPI negotiation using TKEY records.

The final step in negotiation is to verify the server response via its attached TSIG RR; the validation process seems to be the same as per the normal TSIG process except that you use a GSSAPI function instead of MD5, SHA1, etc. so it would be useful to (somehow) be able to override that bit of `dns.TsigVerify()` as the rest of the process is identical, i.e. verifying a stripped copy of the message with the `ARCOUNT` adjusted, etc.

Likewise for `dns.TsigGenerate()` that uses a corresponding GSSAPI function for generating the TSIG signature so being able to pass in a reference to my own function that does the crypto magic would be handy.

re: TKEY I'm not convinced #567 was completely correct, according to the RFC the wireformat is just octets, meaning #599 is the correct way of encoding TKEY - but that PR now fails travis...

Oh, that's interesting. I have a Windows 2012r2 DNS server that seems happy enough with my requests. I've been using Wireshark to analyse the packets and that has been happily decoding the TKEY RR's into their respective Kerberos structures.

[ Quoting <notifications@github.com> in "Re: [miekg/dns] GSS-TSIG support (#..." ]
>Oh, that's interesting. I have a Windows 2012r2 DNS server that seems happy enough with my requests. I've been using Wireshark to analyse the packets and that has been happily decoding the TKEY RR's into their respective Kerberos structures.

That probably because we didn't run 'go generate' and the wireformat parser was 
still using (the correct) parser - at least that's my current thinking.


@bodgit, can you share the code you have that is working against windows dns server?

I know you guys are currently working through the GSS-TSIG portions but I think you're working towards doing the actual update afterwards.  Be aware that Windows 2012, both the DNS server and clients, seem to be insanely picky about the compression used in both the TKEY/TSIG exchange as well as actual update.   

The TSIG portion is mildly mentioned [here](https://msdn.microsoft.com/en-us/library/mt809369.aspx) but that doesn't really fully cover what's required for the TKEY exchange.

For the update example, I had an update where if the Prereq RR used compression by referring to something in the Zone RR, the DNS server would refuse it.  In that same message, if the Updates did not use compression, it would also get refused.  There was no one per dns.Msg Compress setting I could get to work, had to make some hacks to get it accepted.   Learned this by watching a client / server and just mimicking it.

Will be curious to see if your experience is the same when you get to this part.

> I had an update where if the Prereq RR used compression by referring to something in the Zone RR, the DNS server would refuse it. In that same message, if the Updates did not use compression, it would also get refused.

Wait, really? A compression pointer in the Prerequisite section couldn't target Zone, and it required compression in the Update section? Were pointers in Update required to only target the Update section? Was this for owner names only? Sounds like you need a disassembler to make sense of it.

> Wait, really? A compression pointer in the Prerequisite section couldn't target Zone, and it required compression in the Update section? 

Yes.

> Were pointers in Update required to only target the Update section?  Was this for owner names only?

No, they could target the Prerequisite section.  Not sure what you mean by "owner names"

> Sounds like you need a disassembler to make sense of it.

Yes, thankfully we have wireshark to disassemble.  I would have thought I was going crazy, but I had someone verifying this over my shoulder and making sure I didn't make too many stupid mistakes along the way.  Windows provides very little in the way of debug, I don't want to admit how much time we spent trying to get the server to give us a useful log as to why it was refused.  Never did.  I am very anxious to see others experiences as well - maybe I misunderstood or have interpreted some RFC wrong.

Ah what the hell, here is the whole exchange between a client and server, packet #7 here is the one I was referring to.  Tell me what you think.  You can easily export the entire DNS message from wireshark and read into this package via a Unpack/Pack.  I do not think will not be able to generate the same message by just using the Compress boolean w/o changes to this package.  Not yet proposing changing this package in the upstream version, but I did something in our fork to get it to work while Compress=true.

https://github.com/skyportsystems/dns/commit/3b4e767967c17f3a5a1061526abeeec421bc0c65

[clientside_working.pcapng.zip](https://github.com/miekg/dns/files/1536908/clientside_working.pcapng.zip)





I though BIND (or nsupdate?) flat out rejected any compression in dyn. update packages.

fwiw: compression pointers can point into the entire message, so section bounderies don't really apply; RFC was also fuzzy on backward pointers.

Regarding: https://github.com/skyportsystems/dns/commit/3b4e767967c17f3a5a1061526abeeec421bc0c65
Why compress it all?

This is still the answer section - it doubles as both.  I thought still having compression for the answer section in a regular query response is good/required.  So I tried only skipping it for an update.  Am I wrong there?

Also, not proposing this for upstream yet or in this form, just showing how I got it to work to try and help people out and make sure I'm not off in the weeds.

Compression is just (a default) optimization for plain DNS. As said, I've seen it fail with Compress=true and `nsupdate`. I would just not set Compress for dyn. update packets. If they get too large you should probably split them up or just use TCP (TCP should *just* work for dyn. update, no?)

I am 95% sure that if the updates were not compressed, Windows 2012 R2 refused the update and did not state why.  I could retry that or we can see if others see the same behavior.

pcap should show the details. Try to take a look tmrw

> Not sure what you mean by "owner names"

It's a bit of jargon for the name of an RR or RRSet. I'm not sure it's specifically defined in any RFC but it appears in a few.

> Tell me what you think. 

I'm curious so I'll try and take a look at this. Won't be this week though and I don't know how possible it is to setup an MS test environment for $0. If you've got the time, it'd be interesting to know if an unsigned update is accepted.

Okay - I take it back.  Windows isn't as picky about the compression in the update as I stated above.  I have been able to do updates both with and without compression on in this dns pkg.  The windows 2012R2 client does default to a hybrid compression scheme as seen in the PCAP that we can not easily duplicate in this package but the server accepts all three options (win2012 hybrid-compression, fully-uncompressed, and not-compressed) so there really is no need.  Pretty sure that my issues were due to a messed up TSIG and Windows does a poor job logging or the logging option is well-hidden when ignoring to the TSIG being wrong.

I accidentally overlooked the fact that `Client.Exchange()` will automatically try and validate the transaction signature if there is a TSIG record in the response, however it relies on me configuring the `Client.TsigSecret` beforehand, which doesn't need to exist as a) I'm not signing my request and b) I'm not using a static secret, it would be using the GSSAPI context which I'm in the process of negotiating.

RFC 3645 Section 2.2 bends the original RFC 2845 with this:

>    Replace:
      "The server MUST not generate a signed response to an unsigned
      request."

>   With:
      "The server MUST not generate a signed response to an unsigned
      request, except in case of response to client's unsigned TKEY
      query if secret key is established on server side after server
      processed client's query.  Signing responses to unsigned TKEY
      queries MUST be explicitly specified in the description of an
      individual secret key establishment algorithm."

So the server sends back a TKEY with a TSIG and if I actually check the error from `Client.Exchange()` I'm getting `ErrSecret` from https://github.com/miekg/dns/blob/cef5150e0252058fe1af95558e9b9f5153443b11/client.go#L214

I either need a way to disable TSIG verification so I can do it myself (which would involve duplicating large chunks of private functions, so I'd rather not) or a way to pass a reference to my own TSIG verification callback which would (I think) look something like this:

```golang
func tsigVerifyGssapi(stripped []byte, tsig *TSIG, ctx *gssapi.CtxId) error {
        // Turn the TSIG-stripped message bytes into a *gssapi.Buffer
        message, err := c.MakeBufferBytes(stripped)
        if err != nil {
                return err
        }
        defer message.Release()
        msgMAC, err := hex.DecodeString(tsig.MAC)
	if err != nil {
		return err
	}
        // Turn the TSIG MAC bytes into a *gssapi.Buffer
        token, err := c.MakeBufferBytes(msgMAC)
        if err != nil {
                return err
        }
        defer token.Release()
        // This is the actual verification bit
        qop, err := ctx.VerifyMIC(message, token)
        if err != nil {
                return err
        }
        return nil
}
```
Assuming it can be called with the TSIG-stripped message, the TSIG record and a pointer to the GSSAPI context handle I'm currently negotiating with.

I think some form of callback is the only sane way of doing it, otherwise we'll start leaking `[]byte` all over the place. This was the original impetus do it TSIG validation at these lower levels.

Would having some sort of dispatch table keyed on the algorithm domain names work? The library could ship a default one with entries for MD5, SHA1, etc. and I could then extend that with an entry for when `algorithm == "gss-tsig."` which would call my referenced function. In hindsight, it possibly makes more sense to change my function prototype to something more generic like this:

```golang
func tsigVerifyGssapi(stripped []byte, tsig *TSIG, meta interface{}) error {
        ctx := meta.(*gssapi.CtxId)
        ...
```
So your dispatch table calls functions passing the stripped message, the TSIG record and any arbitrary stuff which the function may or may not need.

Thinking about it, I could potentially have multiple GSSAPI contexts in use if I'm dealing with >1 server so having some way of knowing the peer either by IP or hostname would be necessary so I could find the correct context again.

There would also need to be something similar for the generating side so I could then sign the outgoing message using a similar function. The dispatch table could have two entries per-algorithm, one for generation and another for verification.

[ Quoting <notifications@github.com> in "Re: [miekg/dns] GSS-TSIG support (#..." ]
>Would having some sort of dispatch table keyed on the algorithm domain names work? The library could ship a default one with entries for MD5, SHA1, etc. and I could then extend that with an entry for when `algorithm == "gss-tsig."` which would call my referenced function. In hindsight, it possibly makes more sense to change my function prototype to something more generic like this:
>
>```golang
>func tsigVerifyGssapi(stripped []byte, tsig *TSIG, meta interface{}) error {
>        ctx := meta.(*gssapi.CtxId)
>        ...
>```
>So your dispatch table calls functions passing the stripped message, the TSIG record and any arbitrary stuff which the function may or may not need.
>
>Thinking about it, I could potentially have multiple GSSAPI contexts in use if I'm dealing with >1 server so having some way of knowing the peer either by IP or hostname would be necessary so I could find the correct context again.
>
>There would also need to be something similar for the generating side so I could then sign the outgoing message using a similar function. The dispatch table could have two entries per-algorithm, one for generation and another for verification.

Should a `TsigFunc` member in dns.Client and dns.Conn do it?

That would have a type similar to TsigVerify, minus the secret?
~~~
func TsigVerify(msg []byte, requestMAC string, timersOnly bool) error {
~~~


Note that https://github.com/miekg/dns/pull/603 would provide a way to have the message received and not return ErrSecret so that at least the Client can do validation on it's own.

#603 could potentially be useful but then I'd have to reimplement `stripTsig()` and friends which I'd rather avoid. I basically need to be able to reuse [this much](https://github.com/miekg/dns/blob/master/tsig.go#L152-L179) of `TsigVerify()` and then just add my own verification step at the end, if I were to roll my own.

> Should a `TsigFunc` member in dns.Client and dns.Conn do it?

> That would have a type similar to TsigVerify, minus the secret?
~~~
func TsigVerify(msg []byte, requestMAC string, timersOnly bool) error {
~~~

I think at a minimum it needs to provide to a function the stripped response as that is prepared and handled by an internal function in the library already, and the TSIG record in its struct/type form as I would need to access the various fields easily.

Something that could be slotted in and called around https://github.com/miekg/dns/blob/master/tsig.go#L180

[ Quoting <notifications@github.com> in "Re: [miekg/dns] GSS-TSIG support (#..." ]
>> Should a `TsigFunc` member in dns.Client and dns.Conn do it?
>
>> That would have a type similar to TsigVerify, minus the secret?
>~~~
>func TsigVerify(msg []byte, requestMAC string, timersOnly bool) error {
>~~~
>
>I think at a minimum it needs to provide to a function the stripped response as that is prepared and handled by an internal function in the library already, and the TSIG record in its struct/type form as I would need to access the various fields easily.
>
>Something that could be slotted in and called around https://github.com/miekg/dns/blob/master/tsig.go#L180

This can be done, but TsigVerify needs to become a method on client so we can 
access that (and then have a standalone function that calls it with a empty 
client for those people who are using it)


I've managed to hack something together that just about works on top of #603, I added the following two functions to `tsig.go` based on the existing functions with all of the algorithm-specific code removed and a slightly different call signature:
```golang
func TsigGenerateGeneric(m *Msg, cb func([]byte, interface{})([]byte, error), meta interface{}, timersOnly bool) ([]byte, string, error) {
        if m.IsTsig() == nil {
                panic("dns: TSIG not last RR in additional")
        }

        rr := m.Extra[len(m.Extra)-1].(*TSIG)
        m.Extra = m.Extra[0 : len(m.Extra)-1] // kill the TSIG from the msg
        mbuf, err := m.Pack()
        if err != nil {
                return nil, "", err
        }
        buf := tsigBuffer(mbuf, rr, "", timersOnly)

        t := new(TSIG)

        h, err := cb(buf, meta)
        if err != nil {
                return nil, "", err
        }

        t.MAC = hex.EncodeToString(h)
        t.MACSize = uint16(len(t.MAC) / 2) // Size is half!

        t.Hdr = RR_Header{Name: rr.Hdr.Name, Rrtype: TypeTSIG, Class: ClassANY, Ttl: 0}
        t.Fudge = rr.Fudge
        t.TimeSigned = rr.TimeSigned
        t.Algorithm = rr.Algorithm
        t.OrigId = m.Id

        tbuf := make([]byte, t.len())
        if off, err := PackRR(t, tbuf, 0, nil, false); err == nil {
                tbuf = tbuf[:off] // reset to actual size used
        } else {
                return nil, "", err
        }
        mbuf = append(mbuf, tbuf...)
        // Update the ArCount directly in the buffer.
        binary.BigEndian.PutUint16(mbuf[10:], uint16(len(m.Extra)+1))

        return mbuf, t.MAC, nil
}

func TsigVerifyGeneric(msg []byte, cb func([]byte, *TSIG, interface{})error, meta interface{}, timersOnly bool) error {
        // Strip the TSIG from the incoming msg
        stripped, tsig, err := stripTsig(msg)
        if err != nil {
                return err
        }

        buf := tsigBuffer(stripped, tsig, "", timersOnly)

        // Fudge factor works both ways. A message can arrive before it was signed because
        // of clock skew.
        now := uint64(time.Now().Unix())
        ti := now - tsig.TimeSigned
        if now < tsig.TimeSigned {
                ti = tsig.TimeSigned - now
        }
        if uint64(tsig.Fudge) < ti {
                return ErrTime
        }

        return cb(buf, tsig, meta)
}
```
In my code I have the following two functions:
```golang
func tsigGenerateGssapi(msg []byte, meta interface{}) ([]byte, error) {
        ctx := meta.(*gssapi.CtxId)
        ...
}

func tsigVerifyGssapi(stripped []byte, tsig *dns.TSIG, meta interface{}) error {
        ctx := meta.(*gssapi.CtxId)
        ...
}
```
With this in place I can verify a GSS-TSIG signed message with:
```golang
        ...
        if tsig := rr.IsTsig(); tsig != nil {

                // This probably isn't going to fly as I may change the compression, etc.
                p, err := rr.Pack()
                if err != nil {
                        ...
                }

                err = dns.TsigVerifyGeneric(p, tsigVerifyGssapi, ctx, false)
                if err != nil {
                        ...
                }
        }
        ...
```
And I can generate a GSS-TSIG signed message with:
```golang
        ...
        msg.SetTsig(*keyname, dns.Fqdn("gss-tsig"), 300, time.Now().Unix())
        out, _, err := dns.TsigGenerateGeneric(msg, tsigGenerateGssapi, ctx, false)
        if err != nil {
                ...
        }
        m := new(dns.Msg)
        err = m.Unpack(out)
        if err != nil {
                ...
        }

        ...
        rr, _, err := client.Exchange(m, net.JoinHostPort(addrs[0], "53"))
```
However, you can see that I have to either pack back into bytes again to verify as I don't have visibility on the original bytes read in `dns.ReadMsg()` or unpack the bytes after generating the TSIG back into a struct so that I can send it with `dns.Client.Exchange()`. I'm guessing if I accidentally alter the compression at any point I will screw up the verification stage either for myself or the peer. This might be a reason not to accept #603?

So far though, I've not fallen foul and it does work; I've managed to send dynamic DNS updates to a Windows server and they've been accepted.

why would we need to add anything to tsig.co?

We should only need an extra function that gets called, so (e.g) in (c *Conn) Read:

~~~
	if t := m.IsTsig(); t != nil {
	        if conn.TsigFunc != nil { // call func as requested
                     return conn.TsigFunc(p, co.TsigRequestMac, false)
               }
	        if _, ok := co.TsigSecret[t.Hdr.Name]; !ok {
			return m, ErrSecret
		}
		// Need to work on the original message p, as that was used to calculate the tsig.
		err = TsigVerify(p, co.TsigSecret[t.Hdr.Name], co.tsigRequestMAC, false)
	}
~~~
And then plumb through TsigFunc in various places (and probably also for ixfr/axfr - although this might work out-of-the-box).

How you deal with getting access to your secrets should be completely left out. I haven't looked at #603 in the last 2 weeks because I felt that was heading in the wrong direction.

> why would we need to add anything to tsig.co?

Simply because I wanted a version of `TsigVerify()` and `TsigGenerate()` and that did all of the message stripping but didn't do any of the actual crypto stuff. Without them I would've had to copy almost the whole of `tsig.go` into my own code and any other private functions elsewhere that get called. This was just to get something working and moreover prove that I was doing the GSSAPI bits correctly.

>  I haven't looked at #603 in the last 2 weeks because I felt that was heading in the wrong direction.

#603 as it currently stands now was useful purely for stopping the library from doing its own TSIG verification and generation, and getting it wrong. It allowed me to just not configure a secret in the client and then no TSIG steps were performed, at the expense of me having to do it myself, using the above.

> How you deal with getting access to your secrets should be completely left out.

I would argue that `TsigFunc` needs to have as part of its call signature some sort of context pointer, either something like the hostname of the peer or something completely opaque, i.e. an `interface{}` like how I did it.

The reason for this is a `dns.Client` can be used with multiple servers and if I'm issuing signed requests to more than one server I will potentially have to create multiple GSSAPI contexts and I need a way of knowing from within `TsigFunc` which GSSAPI context I need to use. That could be by being supplied the hostname of the peer in which case I just need to maintain a mapping table of "hostname -> GSSAPI context".

Also, what happens if I'm dealing with two servers, one that uses GSS-TSIG and another that just uses normal TSIG? Does my `TsigFunc` have to cope with both cases? If so, supplying the algorithm as well is potentially useful.

To my mind there needs to be two `TsigFunc`'s; one for generating the signature, and another for verifying it. I don't think the callback prototypes I used are that far removed, the generate function needs to be supplied with the message bytes & some sort of additional context and return the bytes to be stored in the MAC field of the TSIG RR as well as a potential error. Likewise the verify step needs to be supplied with the message bytes, the TSIG RR struct and the same context and just return an error or nil if it passed. You can supply the `requestMAC` field if you want however at least for my case it's ignored as it's not a shared secret.

My concern with what you've proposed is that if I supply a `TsigFunc` I now have to do all of the prep on the record, i.e. strip it, pack it, etc. and that violates DRY. Ignoring the functions I added to `tsig.go` these are my two generate and verify functions:

```golang
func tsigGenerateGssapi(msg []byte, meta interface{}) ([]byte, error) {
        ctx := meta.(*gssapi.CtxId)

        message, err := c.MakeBufferBytes(msg)
        if err != nil {
                return nil, err
        }
        defer message.Release()
        token, err := ctx.GetMIC(gssapi.GSS_C_QOP_DEFAULT, message)
        if err != nil {
                return nil, err
        }
        defer token.Release()

        return token.Bytes(), nil
}

func tsigVerifyGssapi(stripped []byte, tsig *dns.TSIG, meta interface{}) error {
        ctx := meta.(*gssapi.CtxId)

        // Turn the TSIG-stripped message bytes into a *gssapi.Buffer
        message, err := c.MakeBufferBytes(stripped)
        if err != nil {
                return err
        }
        defer message.Release()
        msgMAC, err := hex.DecodeString(tsig.MAC)
        if err != nil {
                return err
        }
        // Turn the TSIG MAC bytes into a *gssapi.Buffer
        token, err := c.MakeBufferBytes(msgMAC)
        if err != nil {
                return err
        }
        defer token.Release()
        // This is the actual verification bit
        _, err = ctx.VerifyMIC(message, token)
        if err != nil {
                return err
        }
        return nil
}
```
This is all I need to do instead of use MD5/SHA1, etc. and most of it is setup to get things into the right format for the critical library call, mostly because I'm dealing with a `cgo`-bound library underneath. You could in theory refactor the existing TSIG HMAC bits to use this same interface and then we share the bulk of the `TsigVerify()`/`TsigGenerate()` code as it's always the same.

What do you think?

> I would argue that TsigFunc needs to have as part of its call signature some sort of context pointer, either something like the hostname of the peer or something completely opaque, i.e. an interface{} like how I did it.

You can just make a it closure on anything you need, this does not need to be a callback. It may be worth adding an `interface{}` parameters, but a closure seems cleaner.

> Also, what happens if I'm dealing with two servers, one that uses GSS-TSIG and another that just uses normal TSIG? Does my TsigFunc have to cope with both cases? If so, supplying the algorithm as well is potentially useful.

That's a good point. I guess you have to call into TsigVerify your self again?

> To my mind there needs to be two TsigFunc's; one for generating the signature, and another for verifying it. 

Agreed, to would mirror what we now have.

> My concern with what you've proposed is that if I supply a TsigFunc I now have to do all of the prep on the record, i.e. strip it, pack it, etc. and that violates DRY.

I don't care too much about DRY esp because this code would live outside of this lib. But I can see a case for having tsigBuffer and stripTSIG becoming public, tsigBuffer would probably need to a method on *TSIG 


Good topic.  I see that most work is geared towards "getting it to work with Windows".  Note that BIND also has support for GSS-TSIG, at least for Dynamic DNS.  It may be a useful (and much more open to debugging) source of information.

@vanrein if you're familiar with setting up BIND to do GSS-TSIG a brief how-to (or setup script like the one in #612) would help with getting a CI test environment going.

Hi Andrew,

I haven't done this yet; am investigating it because we're probably going to incorporate it into the ARPA2 infrastructure; but this is a good description by someone else:

http://ddiguru.com/blog/136-how-to-implement-gss-tsig-on-isc-bind

I am _not_ saying we can use BIND and don't need it in a Go library of course :-)

I hope this helps!
 -Rick


by the way, a few notes I have about that article:

  * "Once the security context is established, special TKEY resource records are used to securely exchange key material between the DNS Server and DNS Client." -- I believe this is not quite correct; the (GSSAPI terminology of the) security context is established *through* TKEY exchanges;
  * They limit security to DES without stating why: "+DesOnly &mdash; Sets the encryption type to Des only"; this may well be to get things to work with Windows, but it stands in the way of security (DES is generally considered cracked for any use after 1982).

I happen to know a lot about Kerberos and will try to quietly listen in on this conversation, and perhaps add a thing or two if I can.

> * They limit security to DES without stating why: "+DesOnly — Sets the encryption type to Des only"; this may well be to get things to work with Windows, but it stands in the way of security (DES is generally considered cracked for any use after 1982).

That might be due to using Windows 2008, it's certainly not true for Windows 2012 (and I assume beyond); I've been testing with a keytab using aes256-cts-hmac-sha1-96 and it works fine.

Quite correct on the first point too :wink:.

@bodgit I've lost track of this issue by now, and some of this has gone over my head. Do you have code now that works to update records on an AD DNS server (2012 here) with the kerberos based auth? I have anonymous updates working, but no idea where to start with the authed version.

@captncraig Sorry for the delay, I do have code to do this.

You will need my fork of this library with the changes made in #626 and I made a small library here https://github.com/bodgit/tsig/tree/master/gss which does the rest, there is example usage in the godoc. If you're on Linux, you will need to have a valid Kerberos ticket from `kinit` as the GSSAPI library used cannot acquire credentials. Let me know how it works for you.